<!DOCTYPE html>


<html>
<head>
	
  <title>Mine</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<%=link_to "home", root_path%>
<%=link_to "adn", adn_path%>
<%=link_to "blog", blog_path%>
  <%= yield %>

</body>
</html>
